.points{
    font-size: large;
    color: rgb(48, 42, 40);
}

.btn-default{
    margin-top: 20px;
    color: rgb(218, 215, 221);
    width: auto;
    font-size: medium;
    background-color: rgb(46, 32, 32);
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5%;
}

.scores{
    font-size: x-large;
}

